<h1 class="d-flex justify-content-center pictures-head">Pictures</h1>

<div class="pictures-text">
    <p>
    Thank you for comming pictures site.</br>
    This is my fav pictures.</br>
    I took and retouched them because my hobby is retouching pictures.</br>
    I'm glad to see them.
    </p>
</div>

<div class="text-center">
    <%= image_tag asset_path("sunset.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("kyoto_load.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("sakura.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("sky.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("suiden.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("load1.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("load2.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("load3.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("enoshima.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("sky2.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("sakura2.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("gramping.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("food1.jpg"), class: "pictures-content" %>
    <%= image_tag asset_path("sea.jpg"), class: "pictures-content" %>
</div>