<!-- main-visual用のdiv -->
<div class = "main-visual">
  <div class = "main-visual-content fadeLeft">
      <p class = "main-visual-text">
          Thank you for coming my site!<br /> 
          I'm majoring in Computer Science<br />
          in tokyo institute of technology Univ.<br />
          I'm researching image sensing in lab.
      </p>
      <p class = "main-visual-name">
        My core is "raison d'être".
      </p>
  </div>
  <div class="main-visual-myname fadeLeft">
    HINA ISHIKAWA
  </div>
</div>
<div class="various-contents">
  <section class = "blog">
    <h2 class = "blog-heading", id="works">Recent Works</h2>

    <div class = "blog-box">
        <!-- blog-item1--------->
        <% @posts.each do |post| %>
        <div class = "blog-item">
            <!-- 画像の埋め込み-->
            <img class = "blog-image shadow" src = "assets/1_works.jpg">
            <!-- text部分 -->
            <section class = "blog-text">
                <h3>
                    <a href = "<%= post['url'] %>" class="text-body">
                    <%= post['title'] %>
                    </a>
                </h3>
                <% post['tags'].each do |tag| %>
                  <span class = "category"><%= tag['name'] %></span><!-- divと同じだが、インライン要素である-->
                <% end %>
            </section>
            <!---------------------->
        </div>
        <% end %>      
    </div>
    <div class = "pagination">
        <p><<</p>
        <p><</p>
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>></p>
        <p>>></p>
    </div>
</section>
<div class = "sidebar">
    <section class = "popular">
        <h2 class = "popular-heading common-heading", id="skills">Skill</h2>
        <div class = "sidebar-contents">
          <% @skills.each do |skill| %>
            <p class = "popular-text"><%= skill.skill %></p>
          <% end %>
        </div>
    </section>
    <section class = "instagram">
        <h2 class = "instagram-heading common-heading">Projects</h2>
        <div class = "sidebar-contents">
            <a href="<%= pictures_path %>" class = "instagram-box btn bgtop"></a>
            <div class = "instagram-box btn bgtop"></div>
            <div class = "instagram-box btn bgtop"></div>
            <div class = "instagram-box btn bgtop"></div>
            <div class = "instagram-box btn bgtop"></div>
            <div class = "instagram-box btn bgtop"></div>
        </div>
    </section>
</div>

</div>
<section class = "careers", id="careers">
<h2 class = "categories-heading common-heading">Career</h2>
  <table class="table mx-auto table-borderless">
    <tbody>
      <% @careers.each do |career| %>
        <tr>
          <td><%= career.day.strftime('%Y %m/%d') %></td>
          <td><%= career.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>