<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <div id="splash">
  <div id="splash_text"></div>
  <!--/splash--></div>
  <div id="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/hinahina-chips">Git</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:hinahinachips4510&#64;gmail.com">Mail</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#skills">skill</a>
          <a class="dropdown-item" href="#works">works</a>
          <a class="dropdown-item" href="#careers">career</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://note.com/notes">Note</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= personal_index_path %>">Home</a>
      </li>
    </ul>
  </div>
</nav>
    </header>
    <main class="w-100">
      <%= yield %>
    </main>
    <footer class="d-flex align-items-center justify-content-center">
    <div class = "footer-introduce">
        <%= image_tag 'footer/my_face.jpg', class: 'rounded-pill', :size => '150x150' %>
        <section class ="text-white mt-5 ml-3">
        多趣味な大学院生です。</br>
        Noteに知識のアウトプットと論文の実装</br>
        趣味などを綴っています。
        </section>    
    </div>
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
    //テキストのカウントアップ+バーの設定
var bar = new ProgressBar.Line(splash_text, {//id名を指定
	easing: 'easeInOut',//アニメーション効果linear、easeIn、easeOut、easeInOutが指定可能
	duration: 1000,//時間指定(1000＝1秒)
	strokeWidth: 0.2,//進捗ゲージの太さ
	color: '#555',//進捗ゲージのカラー
	trailWidth: 0.2,//ゲージベースの線の太さ
	trailColor: '#bbb',//ゲージベースの線のカラー
	text: {//テキストの形状を直接指定				
		style: {//天地中央に配置
			position: 'absolute',
			left: '50%',
			top: '50%',
			padding: '0',
			margin: '-30px 0 0 0',//バーより上に配置
			transform:'translate(-50%,-50%)',
			'font-size':'1rem',
			color: '#fff',
		},
		autoStyleContainer: false //自動付与のスタイルを切る
	},
	step: function(state, bar) {
		bar.setText(Math.round(bar.value() * 100) + ' %'); //テキストの数値
	}
});

//アニメーションスタート
bar.animate(1.0, function () {//バーを描画する割合を指定します 1.0 なら100%まで描画します
	$("#splash").delay(500).fadeOut(800);//アニメーションが終わったら#splashエリアをフェードアウト
});

</script>
    </body>
</html>
