<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <%= stylesheet_link_tag "application", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/hinahina-chips">Git</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:hinahinachips4510&#64;gmail.com">Mail</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#skills">skill</a>
          <a class="dropdown-item" href="#works">works</a>
          <a class="dropdown-item" href="#careers">career</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://note.com/notes">Note</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= personal_index_path %>">Home</a>
      </li>
    </ul>
  </div>
</nav>
    </header>
    <main class="w-100">
      <%= yield %>
    </main>
    <footer class="d-flex align-items-center justify-content-center">
    <div class = "footer-introduce">
        <%= image_tag 'footer/my_face.jpg', class: 'rounded-pill', :size => '150x150' %>
        <section class ="text-white mt-5 ml-3">
        多趣味な大学院生です。</br>
        Noteに知識のアウトプットと論文の実装</br>
        趣味などを綴っています。
        </section>    
    </div>
    </footer>
  </body>
</html>
